.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #F7F7F7;
  border-bottom:1px solid #F2F4F7;
  z-index: 1000;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  height: 60px; 
  padding: 0 30px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo svg {
  display: block;
  width: 120px;
  height: 40px;
}

.menu {
  display: flex;
  justify-content: center;
  flex: 1; 
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li a {
  font-size: 1rem;
  text-decoration: none;
  color: #101828;
  font-weight: 500;
  transition: color 0.2s ease;
}

.menu li a:hover {
  color: #D84343;
}

.menu li a.active {
  color: #D84343;
  font-weight: 600;
}
