.btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 200px;
  height: 56px;
  width: 166px;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Filled button */
.btn--filled {
  background: #E44848;
  color: #fff;
  border: 2px solid #E44848;
}

.btn--filled:hover {
  background:var(--button-hover);
  border-color: var(--button-hover);
}

/* Outlined button */
.btn--outlined {
  background: transparent;
  color: #101828;
  border: 2px solid #DADDE1;
}

.btn--outlined:hover {
  border-color:  var(--button-hover);

}
